body
{
text-align: left;
background-color: #ABF0E9;
font-family: sans-serif;
}
h1
{
  position: absolute;
  top:30px;
  left:500px;
  font-family: 'Sacramento', cursive;
  margin-top: 0;
  padding-top: 60px;
  font-size: 5.625rem;
  color: #FCE8D5;
}
h2
{
  color: #EE8572;
  font-family: 'Merriweather', serif;
  font-size: 2rem;
}
h3
{
  color:#3F3F44;
}
h4
{
  color:#3F3F44;
}
hr
{
margin-top: 30px;
padding-bottom: 30px;
  border-style: dotted none none;
  border-width: 10px;
  width: 5%;
  border-color: #F7F7F7;
}
div{
  margin: 0;
  width: 50%;
  float: right;
}
